/* body */
body {
	margin-top: 1%;
}

/* container */

#left-container {
}

#right-container {
}

#newToDoForm {
	/* border: 1px solid black; */
	padding: 4px 8px;
	border-radius: 4px;
	background: rgb(238, 240, 240);
}

#project-container {
	padding: 4px 8px;
	border-radius: 4px;
	background: rgb(238, 240, 240);
	margin-bottom: 1rem;
}

.controls {
	padding: 12px 15px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e1e1e1;
}

.delete-button:hover {
	cursor: pointer;
	color: rgb(228, 76, 76);
}

.done-button:hover {
	cursor: pointer;
	color: rgb(19, 221, 19);
}

.task-done {
	color: rgb(19, 221, 19);
}

.edit-button:hover {
	cursor: pointer;
	color: rgb(129, 129, 129);
}

/* popup edit form */

#editToDoForm {
	border: 1px solid black;
	border-radius: 10px;
	background-color: #e6e7e7;
	padding: 1%;
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75%;
}

/* Projects sections */

.projects {
	margin: 1%;
	background-color: rgb(255, 255, 255);
	max-width: 100%;
	word-wrap: break-word;
	overflow: hidden;
}

.active {
	border: 2px solid rgb(87, 87, 87);
}

.new-project {
	max-width: 100%;
	word-wrap: break-word;
	overflow: hidden;
}

#newProjectForm {
	border: 1px solid black;
	border-radius: 10px;
	background-color: #e6e7e7;
	padding: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75%;
}

/* footer section */
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: rgb(238, 240, 240);
}

footer > p {
	margin-bottom: 0;
	padding: 1rem;
}

footer a:link {
	color: #fff;
	padding: 0px 4px;
	background-color: #33c3f0;
	border-color: #33c3f0;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-size: 11px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	/* background-color: transparent; */
	border-radius: 4px;
	border: 1px solid #bbb;
	text-decoration: none;
}

footer a:visited {
	text-decoration: none;
	color: white;
}

/* mouse over link */
footer a:hover {
	color: #fff;
	background-color: #1eaedb;
	border-color: #1eaedb;
}
